<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rashwan.reactive_popular_movies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PopularMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyD5svxvJX6cpGvB6uhwCaH2iIA6yQdZv50" />

        <activity
            android:name=".feature.discoverMovies.BrowseMoviesActivity"
            android:theme="@style/AppTheme.browse_fragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.movieDetails.MovieDetailsActivity"
            android:parentActivityName=".feature.discoverMovies.BrowseMoviesActivity"
            android:theme="@style/AppTheme.details_fragment" />
        <activity android:name=".feature.BaseActivity" />
        <activity android:name=".feature.favoriteMovies.FavoriteMoviesActivity" />
        <activity android:name=".feature.watchlistMovies.WatchlistActivity" />
    </application>

</manifest>